.ErrorPage h5{
	text-align: center;
    text-decoration: underline;
    color: rgb(255, 0, 51);
}
.ErrorPage a:hover{
	text-align: center;
    text-decoration: underline;
    color: rgb(255, 39, 82);
}
