.ContactUs {
    color: aliceblue;
	text-align: center;
    border-radius: 5px;
    background-image: url('../../../assets/images/red-phone.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem;
}

.errorSpan{
    color: red;
}
#contact-form{
    margin: 1rem;
}
.form-margin{
    padding: 4px;
}
@media screen and (max-width:600px){
    .ContactUs{
        background: #dfdfdf57;
    }
}
