.Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}
.Carousel img{
   border-radius: 10px;
}

@media screen and (max-width:600px) {
    .Reviews {
        display: flex;
        padding: 0;
    }
    .Carousel{
        margin: 0;
        min-width: 70vw;
    }
} 
