.Header{
    display: flex;
    background-color: rgb(39, 36, 36);
    height: 100%;
}

.Header > * {
	margin: 2vh;
}

.Header > h1{
    color: wheat;
    font-size: 10vh;
    margin: 0;
    padding: 0;
    max-width: 65%;
}

#contact-div{
    color: aliceblue;
    position: absolute;
    right: 0;
    display: flex;
}

#contact-div > a{
    margin: 6px;
}