.Concept {
    color: aliceblue;
	display: flex;
    flex-direction: column;
    max-height: 40%;
    margin: 5rem;
    align-items: center;
    background: linear-gradient( 105deg, transparent 25%, rgba(0, 0, 0, 0.507) 25%);
}
.Concept h3{
    margin: 1rem;
}
.Concept h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 27, 72);
    font-weight: bold;
}
@media screen and (max-width:600px) {
    .Concept{
        margin-top: 0;
        flex-direction: column;
        background: none;
    }
}
@media screen and (min-width:600px){
    .Concept>h5{
        text-align: center;
        font-size: xx-large;
        margin: 0;
        padding: 0;
    }
    .Concept .lineSpan{
        text-align: center;
        transform: rotate(90deg);
        font-size: x-large;
        margin: 1px;
        padding: 1px; 
    }
    
}