.Gallery>div{
    margin: 3rem;
    margin-bottom: 15vh;
}
.iframes-grid-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px){
    .Gallery>div{
        margin: 1rem;
        margin-bottom: 12vh;
    }
}
