.Home a {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home > div{
    margin-bottom: 30vh;
}
.Home>.contact{
    margin-bottom: 5vh;
}
#intro{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -5vh;
    margin-bottom: 5vh;
    padding: 0;
    height: 70vh;
    background-image: url('../../../assets/images/confetti-transparent.png');
    background-size: contain;
    width: 100%;
    text-align: center;
}
#introHeader{
    animation-name: pop,popw;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
#concepts{
    background-image: url('../../../assets/images/transparent-lollipop.png');
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-self: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50%
}
.Carousel{
    width: 30vw;
    height: fit-content;
}
#reviews{
    background-image: url('../../../assets/images/origami-transparent.png');
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-items: center;
    background-size: 60%;
    background-position-x: center;
    background-repeat: no-repeat;
}
#jumbotron{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom,transparent, #2929293d, transparent);
    background-size: contain;
}


.Home>div img{
    max-height: 80vh;
    border-radius: 7px;
}

.divHeader{
    margin-bottom: 7vh;
    text-align: center;
    color: aliceblue;
}
.about-us-child{
    direction: rtl;
}
.about-us-content{
    color: aliceblue;
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4,15vw);
    justify-content: space-around;
    padding: 1rem;
}

@media screen and (min-width:600px) {
    #intro{
        margin-top: -4vh;
    }
    .Home >div:first-child{
        margin-top: 5rem;
        padding-top: 3rem;
    }

}
 @media screen and (max-width:600px) {
    #intro{
        background-size: cover;
        height: 40vh;
    }
    #reviewsBox{
        width: 70%;
        max-height: 50vh;
    }
    .Home > div{
        margin-bottom: 20vh;
    }
    #reviews{
        background-size: 120%;
        background-position-y: center;
    }
    #concepts .lineSpan{
        padding: 0;
    }
    .about-us-content{
        grid-template-columns: 40vw 40vw ;
    }

} 
@-webkit-keyframes popw {
    0% {scale: 0.9;}
    50% {
        scale: 1.2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
    }
    100% {scale: 1;}
  }
  
  @keyframes pop {
    0% {scale: 0.9;}
    50% {
        scale: 1.2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
    }
    100% {scale: 1;}
  }