body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(#ff8a00, #e52e71);
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'ganclm';
}

@font-face {
  font-family: 'ganclm';
  src: url('ganclm_bold-webfont.woff') format('woff'),
    url('ganclm_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

iframe {
  border-radius: 4%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d74444db;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be1f1f;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.lineSpan {
  text-decoration: line-through;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.google-font {
  font-family: 'Sansita Swashed',
    cursive;
}

.iframes::-webkit-scrollbar {
  height: 7px;
}

.iframes {
  display: grid;
  max-width: 95vw;
  margin: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: baseline;
  column-gap: 3%;
  padding: 1rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.modalForm>* {
  margin: 3px;
}

@media screen and (max-width:600px) {
  .iframes {
    display: flex;
  }

  .iframes:nth-last-child() {
    margin-bottom: 0;
  }

}